beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Django==3.0.3
idna==2.8
psycopg2==2.8.3
psycopg2-binary==2.8.3
pytz==2019.2
requests==2.22.0
soupsieve==1.9.3
sqlparse==0.3.0
urllib3==1.25.3
